/* ==UserStyle==
@name           Mardevoir
@namespace      https://github.com/mardevour/css-styles
@version        1.0.0
@description    Dark style based on the Dracula palette -> https://draculatheme.com/
@author         Mardevoir
==/UserStyle== */

@-moz-document domain("twitter.com"), domain("x.com") {

:root {
        
  /* COLORS */
        
--dracula-grey: #282a36;
--dracula-grey-dark: #1a1b23;
--dracula-grey-light: #44475A;
--dracula-white: #F8F8F2;
--dracula-blue: #6272A4;
--dracula-cyan: #8BE9FD;
--dracula-green: #50FA7B;
--dracula-green-trans: rgba(80, 250, 123, 0.1);
--dracula-orange: #FFB86C;
--dracula-pink: #FF79C6;
--dracula-pink-trans: rgba(255, 121, 198, 0.1);
--dracula-pink-dark: #aa4e83;
--dracula-purple: #BD93F9;
--dracula-purple-dark: #835eb7;
--dracula-red: #FF5555;
--dracula-red-trans: rgba(255, 85, 85, 0.1);
--dracula-yellow: #F1FA8C;
 
/* ACCENT COLOR FOR QUICK CONFIGURATION / CUSTOMIZATION */
--dracula-accent: var(--dracula-purple);
--dracula-accent-dark: var(--dracula-purple-dark);
}
    
    /* MAIN BORDERS AND BACKGROUNS #################################### */
body {
  background-color: var(--dracula-grey-dark) !important;
}
    /* headers */
.css-175oi2r.r-1h3ijdo.r-1e5uvyk.r-5zmot {
  background-color: var(--dracula-grey-dark) !important;
}
.css-175oi2r.r-1e5uvyk.r-5zmot {
  background-color: var(--dracula-grey-dark) !important;
}
    /* main */
.r-kemksi {
  background-color: var(--dracula-grey-dark) !important;
}
    /* background of a thing about statistics that appears sometimes in your profile idk */
.r-1eltapf {
	background-color: var(--dracula-grey) !important;
}
    /* who can comment on post thing */
.r-rgqbpe {
	background-color: var(--dracula-grey-light) !important;
}
    /* section borders */
    /* do not !important this or it will affect other elements aswell */
.css-175oi2r {
    border-color: var(--dracula-grey-light);
    }
    /* exception the border above */
.css-175oi2r.r-42olwf.r-1phboty.r-rs99b7 {
    border: none !important;
}
    
    /* BUTTONS ##################################################### */
    /* main buttons */
[style*="background-color: rgb(29, 155, 240)"],
.r-l5o3uw {
  background-color: var(--dracula-accent) !important;
}
.r-1vtznih {
  background-color: var(--dracula-accent-dark) !important;
}
    
    /* image, gif, emoji, location buttons */
svg.r-4qtqp9.r-yyyyoo.r-dnmrzs.r-bnwqim.r-lrvibr.r-m6rgpd.r-z80fyv path {
    fill: var(--dracula-accent);
}
    /* post button */
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21 svg {
    color: var(--dracula-white) !important;
}
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-16y2uox.r-6gpygo.r-1udh08x.r-1udbk01.r-3s2u2q.r-peo1c.r-1ps3wis.r-cxgwc0.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l[data-testid="confirmationSheetConfirm"] {
	background-color: var(--dracula-accent) !important;
}
    /* translate post button */
.css-146c3p1.r-bcqeeo.r-qvutc0.r-37j5jr.r-n6v787.r-1cwl3u0.r-16dba41.r-6koalj.r-1w6e6rj.r-14gqq1x.r-1loqt21.r-fdjqy7 {
    color: var(--dracula-accent) !important;
}
    /* "translated by ..." text */
.css-1jxf684.r-bcqeeo.r-qvutc0.r-poiln3.r-n6v787.r-1cwl3u0.r-1loqt21.r-fdjqy7 {
    color: var(--dracula-accent) !important;
}
    /*follow buttons */
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-15ysp7h.r-4wgw6l.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l {
    background-color: var(--dracula-accent) !important;
}
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-2yi16.r-1qi8awa.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l {
	background-color: var(--dracula-accent) !important;
}
    /* text */
.css-146c3p1.r-bcqeeo.r-qvutc0.r-37j5jr.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci {
    color: var(--dracula-grey-white) !important;
}
    /*follow button hover */
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-15ysp7h.r-4wgw6l.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l:hover {
    background-color: var(--dracula-accent-dark) !important;
}
    /* unfollow button hover */
    /* fill (hover) */
.r-qqmkd0 {
    background-color: var(--dracula-red) !important;
    border-color: var(--dracula-red) !important;
}
    /* text (hover) THIS ALSO AFFECTS OTHER TEXTS */
div.css-146c3p1.r-bcqeeo:hover span {
        color: var(--dracula-white) !important; 
}
    /* interactions buttons */
    /* comment, bookmark, and share hover background */
.r-1peqgm7 {
    background-color: var(--dracula-pink-trans) !important;
}
    /* fav / like hover background */
.r-1krxqcr {
    background-color: var(--dracula-red-trans) !important;
}
    /* retweet / repost hover background */
.r-15azkrj {
    background-color: var(--dracula-green-trans) !important;
}
    /* retweet / repost button active (repsoted post) */
path[d="M4.75 3.79l4.603 4.3-1.706 1.82L6 8.38v7.37c0 .97.784 1.75 1.75 1.75H13V20H7.75c-2.347 0-4.25-1.9-4.25-4.25V8.38L1.853 9.91.147 8.09l4.603-4.3zm11.5 2.71H11V4h5.25c2.347 0 4.25 1.9 4.25 4.25v7.37l1.647-1.53 1.706 1.82-4.603 4.3-4.603-4.3 1.706-1.82L18 15.62V8.25c0-.97-.784-1.75-1.75-1.75z"] {
    fill: var(--dracula-green) !important;
}
    /* comments, reposts, likes and bookmark NUMBERS */
    /* same color all because I couldn't change one without changing the others */
.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-37j5jr.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q div.css-175oi2r.r-xoduu5.r-1udh08x {
	color: var(--dracula-white) !important;
}
    
    /* poll buttons */
    /* poll - button */
div[role="radio"] {
    border-color: var(--dracula-accent) !important;
    background-color: var(--dracula-accent) !important;
}
    /* poll - button hover */
div[role="radio"]:hover {
    border-color: var(--dracula-accent-dark) !important;
    background-color: var(--dracula-accent-dark) !important;
}
    /* poll - text */
div[role="radio"] span {
    color: var(--dracula-grey) !important;
}
div[role="radio"]:hover span {
    color: var(--dracula-white) !important;
}

    /*Unlock anatlytics profile button - background*/
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-173mn98.r-1s2bzr4.r-1ceczpf.r-lp5zef.r-3o4zer.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21{
    background-color: var(--dracula-purple-dark) !important
}

    /* TEXTS ##################################################### */
    /* new posts button */
.css-146c3p1.r-bcqeeo.r-qvutc0.r-37j5jr.r-q4m81j.r-a023e6.r-rjixqe:not(.r-b88u0q) {
    color: var(--dracula-accent) !important;
}

    /* Post button text-color*/
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-1fkl15p.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21{
    color: var(--dracula-white) !important;
}


    /*Subscribe to x premium button*/
.css-146c3p1.r-bcqeeo.r-qvutc0.r-37j5jr.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci{
    color: var(--dracula-white) !important
}

    /* hashtags, time, date */
.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-poiln3.r-1loqt21 {
    color: var(--dracula-accent) !important;
}
	/* username color when commenting on theis post */
	/* this also changes the name color when showing "username reposted this" */
.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-poiln3[dir="ltr"] span {
    color: var(--dracula-accent) !important;
}
    /* various texts */
div[style*="color: rgb(29, 155, 240)"] {
    color: var(--dracula-white) !important;
}

    /* Show replies text */
.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-37j5jr.r-a023e6.r-rjixqe.r-16dba41.r-11f147o{
    color: var(--dracula-accent) !important;
}

    /* MISC SECTION ################################################ */
    /* verified badge (ew) THIS ALSO CHANGES THE COMMENT, BOOKMARK, SHARE ICON */
    /* COLOR ON HOVER I CAN'T MAKE THIS RIGHT HELP */
.r-1cvl2hr {
	color: var(--dracula-pink) !important;
}
    /* misc little specific icons */
.r-4qtqp9.r-yyyyoo.r-dnmrzs.r-bnwqim.r-lrvibr.r-m6rgpd.r-10ptun7.r-1janqcz {
  fill: var(--dracula-pink);
}
    /* weird border on pfps and between images (???) */
    /* originaly it's the same color of the background but it */
    /* appeared black andI could not fix this so I left it transparent */
.css-175oi2r.r-1pi2tsx.r-13qz1uu {
  background-color: transparent !important;
}
.r-z32n2g {
	background-color: var(--dracula-grey-light) !important;
    color: var(--dracula-white) !important;
}
    /* md background color */
.r-gu4em3 {
	background-color: var(--dracula-grey-light);
}
    /* loaging circle icon goes wwuuiiiiuu */
    /* many of them are still blue :( */
.css-175oi2r.r-1r8g8re.r-1acpoxo.r-17bb2tj.r-1muvv40.r-1yef0xd.r-1ldzwu0 svg circle:nth-of-type(1) {
    stroke: var(--dracula-accent) !important;
}
.css-175oi2r.r-1r8g8re.r-1acpoxo.r-17bb2tj.r-1muvv40.r-1yef0xd.r-1ldzwu0 svg circle:nth-of-type(2) {
    stroke: var(--dracula-accent) !important;
}
	/* progress barr on post length */
.css-175oi2r.r-66qdqa.r-eafdt9.r-19hi5yp svg circle:nth-of-type(1) {
    stroke: var(--dracula-accent) !important;
	opacity: 0.3;
}

.css-175oi2r.r-66qdqa.r-eafdt9.r-19hi5yp svg circle:nth-of-type(2) {
    stroke: var(--dracula-accent) !important;
}
.css-175oi2r.r-66qdqa.r-eafdt9.r-19hi5yp svg circle:nth-of-type(3) {
    stroke: var(--dracula-accent) !important;
}

	/* bg color on the "you qualified this note..." */
.r-h7o7i8 {
	background-color: var(--dracula-grey-light) !important;
}
	
    /* shadows */
.r-qo02w8 {
	box-shadow: rgba(0, 0, 0, .5) 0px 0px 3px, rgba(0, 0, 0, .3) 0px 0px 6px 6px;
}
.r-19od9ir {
	box-shadow: rgba(0, 0, 0, .5) 0px 0px 3px, rgba(0, 0, 0, .3) 0px 0px 6px 6px;
}
.r-1uusn97 {
	box-shadow: rgba(0, 0, 0, .5) 0px 0px 3px, rgba(0, 0, 0, .3) 0px 0px 6px 6px;
}
}
